* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
}

.container-admin{
  margin-left: 15%;
  max-width: 85%;
}

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  min-width: 15%;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar li{
    padding: 10px 20px;
}

.nav-sidebar li:hover{
    background-color: #C3C3C3;
    cursor: pointer;
}

.nav-sidebar a{
    color: #333;
    text-decoration: none;
}
