* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
}

.container-admin{
  margin-left: 15%;
  max-width: 85%;
}

.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  min-width: 15%;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar li{
    padding: 10px 20px;
}

.nav-sidebar li:hover{
    background-color: #C3C3C3;
    cursor: pointer;
}

.nav-sidebar a{
    color: #333;
    text-decoration: none;
}

.btn{
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid #CCC;
}


.btn-primary-admin{
    background-color: #696969;
    color: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 8px;
    padding: 5px 25px;
}

.btn-primary-admin:hover{
    background-color: #313131;
}

.form-input{
    margin: 10px 0px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

table .icon{
  width: 50px;
}
