@font-face { font-family: amatic; src: url('.../fonts/AmaticSC-Regular.ttf'); }
@font-face { font-family: anders; src: url('.../fonts/Anders.ttf'); }
@font-face { font-family: OpenSans; src: url('.../fonts/Opensans-Regular.ttf'); }

input.error {
  border: 2px solid red;
}

.message{
  color: red;
}

.img-topo{
  height: 100%;
  width: 100%;
}

.cadastro {
  text-align: center;
}
/*Precisa alterar a img do BG aqui */
.nav-main{
    background-image: url('../image/bg-topo.jpg');
    background-size: cover;
    top: 0;
    width: 100%;
}

.nav-list{
    margin-top: 70px;
    color: #FFF;
}

.nav-main .nav-list li{
    decoration: none;
    display: inline;
    text-transform: uppercase;
    margin: 0px 10px;
    font-size: 15px;

}

.nav-main .nav-list li a{
  color: #FFF;
  text-decoration: none;
  webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.nav-main .nav-list li a:hover{
    color: #333;
}


.nav-main{
  text-align: center;
}

.text-promotional{
  padding-top: 100px;
}

.question{
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/bg-question.jpg');
  text-transform: uppercase;
  padding: 100px 0px;
}


.form-lead textarea{
    height: 120px;
    width: 80%;
    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 10px;
}

.form p{
  padding: 10px;
}

.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-form{
  margin: 20px 0px;
}

.nav-team ul li{
  display: inline;
}

footer{
  background-image: url('../image/bg-footer.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  padding-top: 150px;
  margin-bottom: 400px;
  background-size: cover;
}

.about-us{
    
}

.nav-icon{
  position: fixed;
  float: right;
  right: 20px;
  top: 15px;
  cursor: pointer;
  z-index: 2000;
  display: none;
}

.nav-icon i{
    font-size: 40px;
}



/* CSS MOBILE */
@media only screen and (max-width: 768px) {
  .nav-icon{
      display: block;
  }

  .nav-list{
    display: none;
  }

}
